//******** Custom
$bp-largest: 99.5em; // 1592px
$bp-large: 75em; // 1200px
$bp-medium: 63em; // 991px
$bp-small: 44.125em; // 700px
$bp-smallest: 31.25em; // 500px

$bp-tablet: 48em; // 768px
$bp-mobile-m: 26.56em; // 425px


////colors

$primary: #00B1BF;
$brand: #006169;
$main: #006E77;
$secondry: #006069;
$black: #0000;
$white: #FFFFFF;
